/* font family */
body{
    font-family: 'Mulish', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 135px;
}
nav > ul{
    display: flex;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 174px;
    height: 52px;
}
.nav-title{
    font-size: 36px;
    font-weight: 700px;
    color: #131313;
}
.title-content{
    display: flex;
    gap: 16px;
    padding-left: 40px;
    align-items: center;
}
.title-content img{
    width: 48px;
    height: 56px;
}
.nav-title .travel{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;

}
nav li{
    list-style: none;
    margin: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav li a .home{
    color: #FF5400;
}

.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 130px;
    margin-left: 100px;
}
.banner-description{
    color: #FFF;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    width: 670px;
    margin-top: 20px;
    margin-left: 50px;
}
.banner-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-img{
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-position: cover;
}  
.banner-form{
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
}
.input-box{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
header{
    margin: 0 auto;
    padding: 0;
}
main{
    max-width: 1170px;
    margin: 0 auto;
}

/* tours section */

.tours{
    display: flex;
    margin-top: 100px;
    gap: 24px;
}
.tours h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.tours-content h2,p{
    margin-bottom: 24px;
}
.tours-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.second-para{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}
.tours-content ul li a{
    text-decoration: none;
    color: rgba(19, 19, 24, 0.70);
}
.tours-content ul li{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.tours-content button{
    margin-top: 10px;
}
.tours-img{
    width: 540px;
    height: 480px;
    border-radius: 16px;
}